@import '../../themes.scss';

.vertical-resize-container {
	.vertical-resize {
		@include themify($themes) {
			background-color: themed('primary-variant');
		}
		border-radius: 1rem;
		width: 1rem;
		height: 25%;
		cursor: col-resize;
		flex-shrink: 0;
		position: relative;
		z-index: 10;
	}

	height: 100%;
	width: 1rem;
	align-items: center;
	display: flex;
}


.kjv-left-pane {
	width: 50%;
}

.kjv-right-pane  {
	width: 50%;
}