@import '../../../themes.scss';

.kjv-chapter-goto-container {
    @include themify($themes) {
        border-radius: 0 0 1rem 1rem;
        background-color: themed('kjv-goto-background-color');
        
    }
    position: absolute;
    bottom: 0;
    height: var(--height);
}

.kjv-chapter-goto-input-container {
    padding-left: 1rem;
}



.kjv-chapter-goto-input {
    @include themify($themes) {
        background-color: themed('kjv-goto-background-color');
        border-radius: 0 0 1rem 0rem;
    }

}