@import '../../../themes.scss';

.kjv-chapter-goto-container {
	@include themify($themes) {
		border-radius: 0 0 0 0;
		background-color: themed('kjv-goto-background-color');
		color: themed('kjv-goto-color');
	}

	position: absolute;
	bottom: 0;
	height: var(--height);
}

.kjv-chapter-goto-input-container {
	
	margin: 1rem;
	border-radius: 1rem;
	border-width: 0.1rem;
	border-style: solid;

}

.kjv-chapter-goto-input {

	border-width: 0rem;
	border-radius: 1rem;
	padding-left: 1rem;

	@include themify($themes) {
		background-color: themed('kjv-goto-background-color');
		color: themed('kjv-goto-color');
		border-color: themed('kjv-goto-border-color');

	}
}

.kjv-chapter-goto-input:focus,
.kjv-chapter-goto-input:hover {
	@include themify($themes) {
		border-color: themed(kjv-goto-border-focus-color);
		background-color: themed(kjv-goto-border-focus-background-color);
	}

	outline: none;
}