@import '../../themes.scss';
@import '../../common.scss';

.popups {
	height: var(--height);
	top: var(--top);
	max-width: var(--maxWidth);
	position: absolute;
	z-index: 10000;
}

.kjv-chapter-quadrant {
	margin: 0px !important;
	padding: 0px !important;
	width: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
	overflow: hidden;

	@include themify($themes) {
		background-color: themed(kjv-chapter-quadrant-background-color);
	}

	box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

u.FOOTNO + u.whitespace {
	display: none;
}

/* TODO: Decide if supporting footnotes. */
.FOOTNO {
	display: none;
	width: 0px !important;
}

.redtxt {
	@include themify($themes) {
		color: themed('secondary-900');
	}
}

u {
	text-decoration: none;
}

u.xref {
	text-decoration: underline dotted darkgray;
	cursor: pointer;
}

.selected {
	@include themify($themes) {
		background-color: themed('kjv-chapter-selected-verse-background-color');
	}
}

.kjv-chapter-verses-selected {
	@include themify($themes) {
		background-color: themed('kjv-chapter-verses-selected-background-color');
		border: 0.01rem dotted themed(kjv-chapter-verses-selected-border-color);
	}
}
.kjv-chapter {
	overflow-y: scroll;
	width: 100%;
	margin: none;
}

.kjv-verse-inner {
	margin-left: 2rem;
	margin-right: 2rem;

	@extend %kjvonly-noselect;
}

.kjv-words {
	word-spacing: 0.5rem;
	span {
		display: inline-block;
	}
}

.kjv-chapter-header {
	@include themify($themes) {
		border-bottom: thin solid themed('kjv-chapter-header-border-bottom-color');
	}
	font-size: 1em;
	height: 5vh !important;
}

.kjv-chapter-header-shrunk {
	@include themify($themes) {
		border-bottom: thin solid themed('kjv-chapter-header-border-bottom-color');
	}
	font-size: 1em;
	height: 2.5vh !important;
}

.kjv-chapter-footer {
	@include themify($themes) {
		border-top: thin solid themed('kjv-chapter-header-border-bottom-color');
	}
	font-size: 1em;
	height: 10vh !important;
	
}

.selected-buffer {
	@include themify($themes) {
		background-color: themed('kjv-chapter-selected-buffer-background-color');
		color: themed('on-primary');
	}
}
