@import '../../themes.scss';

.popups {
    height: var(--height);
    top: var(--top);
    max-width: var(--maxWidth);
    position: absolute;
    z-index: 10000;
}
.quadrant {
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* TODO: Decide if supporting footnotes. */
.FOOTNO {
    visibility: hidden !important;
    width: 0px !important;
}

.redtxt {
    @include themify($themes) {
        color: themed('secondary-900')
    }
    
}

.xref {
    border-bottom: thin dotted darkgray;
    cursor: pointer;
}

.selected {
    @include themify($themes) {
        background-color: themed('kjv-chapter-selected-verse-background-color');
    }
}

.chapter {
    overflow-y: scroll;
    width: 100%;
}

.verses {
    word-spacing: 0.05rem;
    span {
        display: inline-block;
    }
}

.kjv-chapter-header {
    @include themify($themes) {
        background-color: themed('kjv-chapter-header-background-color');
        color: themed('kjv-chapter-header-color');
    }

    border-bottom: 1px solid lightgray;

    padding-left: 1rem;
    padding-right: 1rem;
    
    height: 30px !important;
}

.quadrant {
    
}

.kjv-chapter-footer {
    @include themify($themes) {
        background-color: themed('kjv-chapter-footer-background-color');
        color: themed('kjv-chapter-footer-color');
    }

    padding-left: 1rem;
    padding-right: 1rem;
    
    height: 30px !important;
}

.selected-buffer {
    @include themify($themes) {
        background-color: themed('primary-variant');
        color: themed('on-primary')
    }
}