
// colors: https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors
// primary #002868
// secondary #bf0a31

$primary-900: #002868;
$primary-800: #0f387e;
$primary-700: #18428b;
$primary-600: #234c96;
$primary-500: #2a539f;
$primary-400: #4f6cac;
$primary-300: #6f86ba;
$primary-200: #98a8ce;
$primary-100: #c0cae2;
$primary-50: #e6eaf3;


$secondary-900: #b00026;
$secondary-800: #bf0a31;
$secondary-700: #cc1639;
$secondary-600: #de213f;
$secondary-500: #ed2c41;
$secondary-400: #e84559;
$secondary-300: #dd6b78;
$secondary-200: #e9949d;
$secondary-100: #facad4;
$secondary-50: #fdeaef;
