// Import all of Bootstrap's CSS
@import '~bootstrap/scss/bootstrap';

.disableScroll {
	overflow-y: hidden;
	overflow-x: hidden;
}

$secondary: #bf0a30;
$primary: #002868;


.kjvonly-noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
								  supported by Chrome, Edge, Opera and Firefox */
}